@font-face {
    font-family: "Segoe Script";
    src: url('Assets/Fonts/segoesc.ttf');
}

@font-face {
    font-family: "Segoe Print";
    src: url('Assets/Fonts/segoepr.ttf');
}


html{
    font-family:Segoe Script;
    overflow: hidden;
}

body{
    overflow: hidden;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin:0;

    /* Desactivaton de la selection du text */
-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

#menu{

}

#background{

}

.workspace{
    position: fixed;
    top: 150px;
    bottom: 0;
    left: 0;
    right: 0;
}

.workspace-content{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}


.workspace-content-page{
    position: fixed;
    top: 150px;
    bottom: 0;
    right: 0;
    left: 0;
}



.bulle-no-page
{
    position:fixed;
    cursor: pointer;

}

.bulle-no-page .bulle-text
{
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 25px;
}


svg{
    pointer-events: none;
}


.back-button{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100px;
    width: 100px;
    background: url("./Assets/svg/ic_arrow_back_white.svg") no-repeat center;
    z-index: 1000;
    cursor: pointer;
}