html{
  font-family:Dosis;
  overflow: hidden;
}

body{
  margin:0;
}

.titre{
    background-color: turquoise;
    height: 100px;
    width: 200px;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px 0px 200px 200px;
    right: 0;
    left: 0;
}

.titre p{
  text-align: center;
    color: Brown;
    font-size: 20px;
}
.titre p.h1{
    font-size: 40px;
    margin-top:0px;
    margin-bottom:5px;
}

.titre p.h2{
 font-size: 20px;
    margin-top:5px;
    margin-bottom:10px;
}