.menu p{

}

.menu .main-bulle{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

}

.menu .content-main-bulle {
    position: fixed;
    height: 500px;
    width: 500px;

    margin: auto;
    right: 0;
    left: 0;
    cursor: pointer;
    pointer-events: visible;
}

.menu.workspace-content{
    background-image: url(../../Assets/svg/fond.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
    pointer-events: none;
}


.menu .contour-main-bulle{
    position: absolute;
    display: block;

    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;


}
.menu .text-ju{
    color: #028c7e ;

    position: absolute;
    display: block;

    left: 0;
    right: 0;
    text-align: center;
    pointer-events: visible;
}

.menu .text-ben{
    color: #724823 ;

    position: absolute;
    display: block;

    left: 0;
    right: 0;
    text-align: center;
    pointer-events: visible;
}

.menu .image-bagues{
    height: 200px;
    width: 200px;

    position: absolute;
    display: block;
    left: 0;
    right: 0;

    margin: auto;
}

.menu .content-menu-secret{
    color: #724823 ;
    position: fixed;
    height: 100px;
    width: 200px;
    right: 0;
}

.menu .content-menu-contact{
    color: #028c7e ;
    position: fixed;
    height: 100px;
    width: 200px;

}

.fleche-maron{
margin-top: -20px;

}
.fleche-bleu{
    margin-top: -20px;
}

.menu .bulle-menu
{
    position:fixed;
    cursor: pointer;
    pointer-events: visible;

}

.menu .bulle-menu .bulle-text
{
    display: table-cell;
    vertical-align: middle;
  padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 25px;
}