
.JourJDetail-container{
    position: absolute;
    height:100%;
    width: 100%;
    pointer-events: none;
}

.panel-maps{
    position: absolute;
    height:100%;
    width: 60%;
    background-color: #028c7e;
    right:0;
    pointer-events: visible;
}
.mapGoogle{
    height:100%;
    width: 100%;
}

.panel-description{
    position: absolute;
    height:100%;
    width: 40%;
    background-color: #724823;
    left: 0;
    pointer-events: visible;

}

.panel-description .content-description{
    position: absolute;
    top: 50px;
    width: 100%;
}

.panel-description .title{
    font-size: 35px;
    color: white;
    text-align: center;
    width: 100%;
}





/* Detail */
.description-detail{
    width: 100%;
    color: white;
    height:100%;
}

.description-detail .presentation-detail{
 width: 100%;

}

.text-detail{
    padding: 20px;
    font-family: "Segoe Print";
}



.container-dodo{
    display: table;
}
.row-dodo{
    display: table-row;
}

.listHotel{
    height: 100%;
    overflow: auto;
}


.container-listHotel{
    height: 100%;
}
.hotel{
    display: inline-block;
    margin-bottom: 10px;
}

.imgHotel-container{
    float: left;
    height: 100px;
    width: 100px;
    overflow: hidden;
    border-radius: 100px;
    border-color: rgba(0,0,0,0.1);
    border-width: 5px;
    border-style: solid;
}
.imgHotel{
    height: 100px;
}
.descHotel{
    margin-left: 150px;
    font-size: 13px;
}

.nomHotel{
    font-size: 20px;
}

.descHotel-txt{
    font-family:Segoe Print ;
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}