
.ContactPage-container{
    position: absolute;
    height:100%;
    width: 100%;
    pointer-events: none;

}

.panel-message{
    position: absolute;
    height:100%;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.7);
    right:0;
    pointer-events: visible;

    color: white;
}


.conteneur{
    height: 100%;
    width: 100%;
    display: table;
    position: absolute;
    top: 0;
    bottom: 0;
}

.message-block-cell{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.message-block{
    display: inline-block;
    max-width:450px;
}
.panel-message .title-message{
    font-size: 30px;
    margin-bottom: 30px;
}

.panel-message textarea{
    border-radius: 20px;
    padding: 10px;
}

.panel-message .nom-value{
    border-radius: 20px;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;

}
.panel-message .title-value{
    text-align: left;
}


.panel-message .btn-send{
    background-color: #2EA58F;
    border-radius: 20px;
    color: #724823;
    font-size: 30px;
    width: 200px;
    height: 50px;
    margin-left: auto;
    cursor: pointer;
}

/* panel contact*/
.panel-contact{
    position: absolute;
    height:100%;
    width: 40%;
    background-color: #724823;
    left: 0;
    pointer-events: visible;

    color: white;
}


.panel-contact-content{
    text-align: center;
    vertical-align: middle;
    top:150px;
    position: absolute;
    width: 100%;
    font-size: 20px;
}

.info-contact-container{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 18px;
}

.panel-contact .title{
    top: 50px;
    font-size: 35px;
    color: white;
    text-align: center;
    width: 100%;
    position: absolute;

}