
.bulle-day-step
{
    position:fixed;
    cursor: pointer;

}


.bulle-day-step .bulle-day-step-center{
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.bulle-day-step .bulle-text
{
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 25px;
}


.bulle-day-step .bulle-text-heure{
    text-align: center;
    font-size: 20px;
    margin: 0;
}


.aide{
    position: absolute;

    width: 300px;
    bottom: 20px;
    left:20px;
}